section.c-detalle-de-programa
{
  padding: 40px 0;
  overflow: hidden;
  .swiper>.swiper-wrapper>.swiper-slide
  {
    flex: 0 0 170px;
    max-width: 170px;
    @media (max-width: 768px) {
      flex: 0 0 104px;
      max-width: 104px;
    }
    >.inner
    {
      text-align: center;
      >.c-image
      {
        width: 40px;
        height: 40px;
        margin-bottom: 16px;
        display: inline-block;
        @media (max-width: 768px) {
          width: 24px;
          height: 24px;
          .builder-only { font-size: 55%; }
        }
      }
      >.title { font-weight: 300; }
      >.text { font-weight: 600; }
    }
  }
  
  
  /* Variations: */
  &.is-grey
  {
    color: black;
    background-color: #F7F7F9;
    .swiper-slide>.inner>.title { color: #5B5B5B; }
  }
  &.is-red
  {
    color: white;
    background-color: #C8102E;
    .c-image>.builder-only
    {
      color: black;
      background-color: #F7F7F9;
    }
  }
}
