section.c-lista-con-iconografia
{
    >.inner
    {
        >.t-title { margin-bottom: 3.2rem; }
        >.body { margin-bottom: 3.6rem; }
        >.item-grid
        {
            padding: 2.4rem;
            @media (max-width: 760px) {
                padding: 1.6rem;
            }
            >.item-block
            {
                display: flex;
                align-items: flex-start;
                &+.item-block { margin-top: 3.2rem; }
                >.L
                {
                    height: 40px;
                    flex: 0 0 40px;
                    margin-right: 1.6rem;
                    >.c-image
                    {
                        height: 100%;
                        img { object-fit: contain; }
                    }
                    @media (max-width: 760px) {
                        margin-right: .8rem;
                    }
                }
                >.R { flex: 1 1 auto; }
            }
        }
    }
}
