nav.c-menu
{
  color: #181818;
  background-color: white;
  padding: 2.2rem var(--page-padding);
  box-shadow: 0 1px 3px rgba(0,0,0,.12);
  position: sticky;
  top: 0;
  z-index: 10;
  @media (max-width: 1024px) {
    padding: 1.6rem var(--page-padding);
  }
  >.inner
  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    >a.logo-block
    {
      width: auto;
      height: 44px;
      flex: 0 0 auto;
      display: block;
      >svg path { fill: #C8102E; }
    }
    >.flex-space { flex: 1 0 0px; }
    >.menu-wrap
    {
      flex: 0 1 auto;
      overflow: hidden;
      >.submenu
      {
        display: flex;
        align-items: center;
        >.links
        {
          flex: 0 1 auto;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1;
          display: flex;
          align-items: center;
          >a
          {
            flex: 0 0 auto;
            color: inherit;
            white-space: nowrap;
            padding: 1.6rem;
            border-bottom: solid 2px transparent;
            transition: all .15s;
            &:hover
            {
              color: #C8102E;
              text-decoration: none;
              border-color: #C8102E;
            }
          }
        }
        >.lang-wrap
        {
          flex: 0 0 auto;
          color: #6F7173;
          margin-left: 1rem;
        }
        >.menu-close
        {
          width: 1.6rem;
          height: 1.6rem;
          position: absolute;
          top: 2.5rem;
          right: 2.5rem;
          display: none;
        }
      }
    }
    >.form-button-div
    {
      flex: 0 0 auto;
      margin-left: 2.4rem;
      >.inner>.form-button
      {
        color: white;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2.2rem;
        letter-spacing: 0.1em;
        background-color: #C8102E;
        padding: 1.5rem 2rem;
      }
    }
    >.menu-button
    {
      height: 2.4rem;
      flex: 0 0 2.4rem;
      display: none;
      &.no-links { display: none !important; }
    }
    svg
    {
      width: 100% !important;
      height: 100% !important;
      display: block;
    }
  }
  
  &.has-menu>.inner
  {
    >.menu-wrap
    {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 12;
      overflow: hidden;
      pointer-events: none;
      &:not(.is-open)>.submenu {
        transform: translateX(100%);
      }
      >.submenu
      {
        height: 100%;
        background-color: white;
        align-items: stretch;
        justify-content: space-between;
        flex-direction: column;
        gap: 0;
        transition: transform .4s;
        pointer-events: auto;
        overflow: auto;
        >.links
        {
          flex: 0 0 auto;
          font-size: 1.8rem;
          line-height: 1.7778;
          padding: 8rem 3.2rem 2.4rem;
          flex-direction: column;
          align-items: stretch;
          gap: 2.4rem;
          overflow: visible;
          >a
          {
            flex: 0 0 auto;
            white-space: normal;
            padding: 0 0 2rem;
            border-bottom: solid 1px #E3E4E5;
          }
        }
        >.lang-wrap
        {
          padding: 2.4rem 3.2rem;
          border-top: solid 1px #E3E4E5;
          display: flex;
          justify-content: flex-end;
        }
        >.menu-close { display: block; }
      }
    }
    >.form-button-div
    {
      width: 100%;
      padding-top: 18px;
      margin-left: 0;
      position: fixed;
      bottom: 0;
      left: 0;
      overflow: hidden;
      pointer-events: none;
      &.is-visible>.inner { transform: translateY(105%); }
      >.inner
      {
        background-color: white;
        box-shadow: 0px -4px 15px 0px rgba(0, 0, 0, 0.10);
        padding: 1.4rem 1.6rem;
        transition: transform .4s;
        pointer-events: auto;
        >.form-button
        {
          width: 100%;
          text-align: center;
        }
      }
    }
    >.menu-button { display: block; }
  }
}
