<nav class="c-menu">
    <div class="prod-only">
        {% assign defaultlang = settings['LanguageLocale/Code'] | default: 'es-es' %}
        {% assign homeurl = website.adx_partialurl %}
        {% assign primary_nav = weblinks["Default"] %}
        {% assign STUI = 'HOLA' %}
    </div>
    <div class="inner">
        <div class="L">
            <a class="logo-block"
                href="https://www.bsm.upf.edu/{{ TODO: lang! }}" 
                target="_blank"
                >
                {{ logo }}
            </a>
        </div>
        <div class="R">
            
        </div>
    </div>
</nav>
