<div id="EntityFormControl_62e6ccbda91647b68c36ec6b68c01294">
  <div id="EntityFormPanel" class="crmEntityFormView" role="form">
    <div class="entity-form">
      <input type="hidden">
      <input type="hidden">
      <input type="hidden">
      <input type="hidden">
      <span></span>
      <div class="validation-summary alert alert-error alert-danger alert-block">
        <h2 class="validation-header" role="none">
          <span role="presentation" class="fa fa-info-circle"></span>
          El formulario no se pudo enviar por las siguientes razones:
        </h2>
        <ul role="presentation">
          <li>
            <a href="#alg_programadeinteres_label" referencecontrolid="alg_programadeinteres">
              Programa de interés es un campo obligatorio.
            </a>
          </li>
          <li>
            <a href="#alg_nombre_label" referencecontrolid="alg_nombre">
              Nombre es un campo obligatorio.
            </a>
          </li>
          <li>
            <a href="#alg_apellidos_label" referencecontrolid="alg_apellidos">
              Apellidos es un campo obligatorio.
            </a>
          </li>
          <li>
            <a href="#alg_email_label" referencecontrolid="alg_email">
              Email es un campo obligatorio.
            </a>
          </li>
          <li>
            <a href="#alg_fechadenacimiento_label" referencecontrolid="alg_fechadenacimiento">
              Fecha de nacimiento es un campo obligatorio.
            </a>
          </li>
          <li>
            <a href="#alg_genero_label" referencecontrolid="alg_genero">
              Género es un campo obligatorio.
            </a>
          </li>
          <li>
            <a href="#alg_pais_label" referencecontrolid="alg_pais">
              País es un campo obligatorio.
            </a>
          </li>
          <li>
            <a href="#alg_provincia_label" referencecontrolid="alg_provincia">
              Provincia es un campo obligatorio.
            </a>
          </li>
          <li>
            <a href="#alg_prefijo_label" referencecontrolid="alg_prefijo">
              Prefijo es un campo obligatorio.
            </a>
          </li>
          <li>
            <a href="#alg_telefono_label" referencecontrolid="alg_telefono">
              Teléfono es un campo obligatorio.
            </a>
          </li>
        </ul>
      </div>
      <div class="tab clearfix">
        <div class="tab-column" style="width:100%;">
          <div>
            <fieldset aria-label="General">
              <table role="presentation" class="section">
                <colgroup>
                  <col style="width:50%;">
                  <col style="width:50%;">
                  <col>
                </colgroup>
                <tbody>
                  <tr>
                    <td class="cell zero-cell"></td>
                  </tr>

                  <tr>
                    <td colspan="2" rowspan="1" class="clearfix cell"></td>
                    <td class="cell zero-cell"></td>
                  </tr>

                  <tr>
                    <td colspan="2" rowspan="1" class="clearfix cell picklist-cell">
                      <div class="table-info required">
                        <label for="alg_programadeinteres" id="alg_programadeinteres_label" class="field-label">
                          Programa de interés
                        </label>
                        <div class="validators">
                          <span id="RequiredFieldValidatoralg_programadeinteres">
                            *
                          </span>
                        </div>
                      </div>
                      <div class="control">
                        <select id="alg_programadeinteres" class="form-control form-select picklist">
                          <option selected="selected" value="" label="Seleccionar" aria-label="Seleccionar">Seleccionar</option>
                          <option value="15201">
                            Máster Universitario en Finanzas y Banca. Master of Science in Finance and Banking
                          </option>
                          <option value="15196">
                            Máster Universitario en Marketing. MSc in Marketing
                          </option>
                          <option value="15183">
                            Màster Universitari en Ciències Empresarials. Master of Science in Management
                          </option>
                          <option value="15194">
                            Màster Universitari en Negocis Internacionals. Master in International Business
                          </option>
                          <option value="15184">
                            Màster de Formació Permanent en Creació Literària
                          </option>
                          <option value="15186">
                            Máster Universitario en Abogacía y la Procura
                          </option>
                          <option value="15188">
                            Màster Universitari en Advocacia i Procura Màster de Formació Permanent en Dret Laboral i de la Seguretat Social
                          </option>
                          <option value="15189">
                            Màster Universitari en Advocacia i Procura Màster de Formació Permanent en Dret Penal Econòmic i Compliance
                          </option>
                          <option value="15206">
                            Màster de Formació Permanent en Edició
                          </option>
                        </select>
                      </div>
                    </td>
                    <td class="cell zero-cell"></td>
                  </tr>

                  <tr>
                    <td colspan="2" rowspan="1" class="clearfix cell text form-control-cell">
                      <div class="table-info required">
                        <label for="alg_nombre" id="alg_nombre_label" class="field-label">
                          Nombre
                        </label>
                        <div class="validators"><span id="RequiredFieldValidatoralg_nombre">
                          *
                        </span>
                        <span id="MaximumLengthValidatoralg_nombre">
                          *
                        </span>
                      </div>
                      </div>
                      <div class="control">
                        <input type="text" id="alg_nombre" class="text form-control" aria-invalid="true">
                      </div>
                    </td>
                    <td class="cell zero-cell"></td>
                  </tr>

                  <tr>
                    <td colspan="2" rowspan="1" class="clearfix cell text form-control-cell">
                      <div class="table-info required">
                        <label for="alg_apellidos" id="alg_apellidos_label" class="field-label">
                          Apellidos
                        </label>
                        <div class="validators">
                          <span id="RequiredFieldValidatoralg_apellidos">
                            *
                          </span>
                          <span id="MaximumLengthValidatoralg_apellidos">
                            *
                          </span>
                        </div>
                      </div>
                      <div class="control">
                        <input type="text" id="alg_apellidos" class="text form-control" aria-invalid="true"></div>
                    </td>
                    <td class="cell zero-cell"></td>
                  </tr>

                  <tr>
                    <td colspan="2" rowspan="1" class="clearfix cell text form-control-cell">
                      <div class="table-info required">
                        <label for="alg_email" id="alg_email_label" class="field-label">Email</label>
                        <div class="validators"><span id="RequiredFieldValidatoralg_email" style="display: inline;">*</span><span id="MaximumLengthValidatoralg_email" style="visibility:hidden;">*</span></div>
                      </div>
                      <div class="control"><input name="ctl00$ContentContainer$EntityFormControl_62e6ccbda91647b68c36ec6b68c01294$EntityFormControl_62e6ccbda91647b68c36ec6b68c01294_EntityFormView$alg_email" type="text" maxlength="100" id="alg_email" class="text form-control " onchange="setIsDirty(this.id);" aria-required="true" title="Email es un campo obligatorio." aria-label="Email" onkeypress="javascript:return LengthError(this, event);" aria-invalid="true"></div>
                    </td>
                    <td class="cell zero-cell"></td>
                  </tr>

                  <tr>
                    <td colspan="1" rowspan="1" class="clearfix cell datetime form-control-cell">
                      <div class="table-info required">
                        <label for="alg_fechadenacimiento_datepicker_description" id="alg_fechadenacimiento_label" class="field-label">Fecha de nacimiento</label>
                        <div class="validators"><span id="DateFormatValidatoralg_fechadenacimiento" style="visibility:hidden;">*</span><span id="RequiredFieldValidatoralg_fechadenacimiento" style="display: inline;">*</span></div>
                      </div>
                      <div class="control">
                          <input name="ctl00$ContentContainer$EntityFormControl_62e6ccbda91647b68c36ec6b68c01294$EntityFormControl_62e6ccbda91647b68c36ec6b68c01294_EntityFormView$alg_fechadenacimiento" type="text" id="alg_fechadenacimiento" class="datetime form-control " data-ui="datetimepicker" data-type="date" data-attribute="alg_fechadenacimiento" data-behavior="DateOnly" required="" aria-invalid="true" onfocus="validateRequiredField(this.id);" style="display: none;">
                          <div class="input-append input-group datetimepicker" role="none"><input type="text" data-date-format="DD/MM/YYYY" aria-describedby="alg_fechadenacimiento_description" id="alg_fechadenacimiento_datepicker_description" aria-labelledby="alg_fechadenacimiento_label" onchange="setIsDirty(this.id);" class="form-control input-text-box" placeholder="DD/MM/YYYY" aria-required="true"><span tabindex="0" role="button" title="Elija una fecha" class="input-group-addon btn"><span data-date-icon="icon-calendar fa fa-calendar" data-time-icon="icon-time fa fa-clock" class="icon-calendar fa fa-calendar iconBorder"></span></span></div>
                      </div>
                    </td>
                    <td colspan="1" rowspan="1" class="clearfix cell picklist-cell">
                      <div class="table-info required">
                        <label for="alg_genero" id="alg_genero_label" class="field-label">Género</label>
                        <div class="validators"><span id="RequiredFieldValidatoralg_genero" style="display: inline;">*</span></div>
                      </div>
                      <div class="control">
                        <select name="ctl00$ContentContainer$EntityFormControl_62e6ccbda91647b68c36ec6b68c01294$EntityFormControl_62e6ccbda91647b68c36ec6b68c01294_EntityFormView$alg_genero" id="alg_genero" class="form-control form-select picklist " onchange="setIsDirty(this.id);" aria-required="true" aria-invalid="true" title="Seleccione un elemento de esta lista">
                          <option selected="selected" value="" label="Seleccionar" aria-label="Seleccionar">Seleccionar</option>
                          <option value="10">Desconocido</option>
                          <option value="20">Masculino</option>
                          <option value="30">Femenino</option>
                        </select>
                      </div>
                    </td>
                    <td class="cell zero-cell"></td>
                  </tr>

                  <tr>
                    <td colspan="2" rowspan="1" class="clearfix cell lookup form-control-cell">
                      <div class="table-info required">
                        <label id="alg_pais_label" class="field-label">
                          País
                        </label>
                        <div class="validators">
                          <span id="RequiredFieldValidatoralg_pais">
                            *
                          </span>
                        </div>
                      </div>
                      <div class="control">
                        <div class="input-group" role="none" style="position: relative;">
                          <input type="text" id="alg_pais_name" class="text form-control lookup form-control" />
                          <div class="text-muted" aria-hidden="true">
                            —
                          </div>
                          <input id="alg_pais" aria-required="true" aria-invalid="true">
                          <input type="hidden" id="alg_pais_entityname">
                          <button type="button" class="btn btn-default clearlookupfield">
                            <span class="visually-hidden">
                              Borrar campo de búsqueda
                            </span>
                            <span class="fa fa-times" aria-hidden="true"></span>
                          </button>
                          <button type="button" class="btn btn-default launchentitylookup">
                            <span class="visually-hidden">
                              Iniciar búsqueda modal
                            </span>
                            <span class="fa fa-search" aria-hidden="true"></span>
                          </button>
                        </div>
                        <div id="alg_pais_lookupmodal" class="lookup-modal">
                          <div class="entity-lookup" data-languagecode="3082" data-lookup-datafieldname="alg_pais" data-lookup-reference_entityformid="" data-url="/_services/entity-lookup-grid-data.json/aae329d2-9a36-4df1-9618-65f094fa6b0a">
                            <!-- Here goes a lookup modal -->
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="cell zero-cell"></td>
                  </tr>

                  <tr>
                    <td colspan="2" rowspan="1" class="clearfix cell lookup form-control-cell">
                      <div class="table-info required">
                        <label id="alg_provincia_label" class="field-label">Provincia</label>
                        <div class="validators">
                          <span id="RequiredFieldValidatoralg_provincia">
                            *
                          </span>
                        </div>
                      </div>
                      <div class="control">
                          <div class="input-group" role="none" style="position: relative;">
                            <input type="text" id="alg_provincia_name" class="text form-control lookup form-control" />
                            <div class="text-muted" aria-hidden="true">
                              —
                            </div>
                            <input type="hidden" id="alg_provincia" aria-required="true" aria-invalid="true" />
                            <input type="hidden" id="alg_provincia_entityname" />
                            <button type="button" class="btn btn-default clearlookupfield" aria-label="Provincia Borrar campo de búsqueda">
                              <span class="visually-hidden">
                                Borrar campo de búsqueda
                              </span>
                              <span class="fa fa-times" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default launchentitylookup">
                              <span class="visually-hidden">
                                Iniciar búsqueda modal
                              </span>
                              <span class="fa fa-search" aria-hidden="true"></span>
                            </button>
                          </div>
                          <div id="alg_provincia_lookupmodal" class="lookup-modal">
                            <div class="entity-lookup" data-languagecode="3082" data-lookup-datafieldname="alg_provincia">
                              <!-- Here goes a lookup modal -->
                            </div>
                          </div>
                      </div>
                    </td>
                    <td class="cell zero-cell"></td>
                  </tr>

                  <tr>
                    <td colspan="1" rowspan="1" class="clearfix cell picklist-cell">
                      <div class="table-info required">
                        <label for="alg_prefijo" id="alg_prefijo_label" class="field-label">
                          Prefijo
                        </label>
                        <div class="validators"><span id="RequiredFieldValidatoralg_prefijo">
                          *
                        </span>
                      </div>
                      </div>
                      <div class="control">
                        <select id="alg_prefijo" class="form-control form-select picklist" aria-required="true" aria-invalid="true">
                          <option selected="selected" value="" label="Seleccionar" aria-label="Seleccionar">
                            Seleccionar
                          </option>
                          <option value="860000000">+34</option>
                        </select>
                      </div>
                    </td>
                    <td colspan="1" rowspan="1" class="clearfix cell text form-control-cell">
                      <div class="table-info required">
                        <label for="alg_telefono" id="alg_telefono_label" class="field-label">
                          Teléfono
                        </label>
                        <div class="validators">
                          <span id="RequiredFieldValidatoralg_telefono">
                            *
                          </span>
                          <span id="MaximumLengthValidatoralg_telefono">
                            *
                          </span>
                        </div>
                      </div>
                      <div class="control">
                        <input aria-required="true" aria-label="Teléfono" aria-invalid="true"/>
                      </div>
                    </td>
                    <td class="cell zero-cell"></td>
                  </tr>

                  <tr>
                    <td colspan="2" rowspan="1" class="clearfix cell checkbox-cell">
                      <div class="table-info">
                        <label for="alg_aceptacioncomunicaciones" id="alg_aceptacioncomunicaciones_label" class="field-label">
                          Acepto recibir comunicaciones de la UPF-BSM
                        </label>
                        <div class="validators"></div>
                      </div>
                      <div class="control">
                        <span class="checkbox ">
                          <input id="alg_aceptacioncomunicaciones" type="checkbox"/>
                        </span>
                      </div>
                    </td>
                    <td class="cell zero-cell"></td>
                  </tr>

                  <tr>
                    <td colspan="2" rowspan="1" class="clearfix cell checkbox-cell">
                      <div class="table-info required">
                        <label for="alg_politicaprivacidad" id="alg_politicaprivacidad_label" class="field-label">
                          He leído y acepto la política de privacidad
                        </label>
                        <div class="validators">
                          <span id="RequiredFieldValidatoralg_politicaprivacidad">
                            *
                          </span>
                        </div>
                      </div>
                      <div class="control">
                        <span class="checkbox">
                          <input id="alg_politicaprivacidad" type="checkbox" aria-required="true" />
                        </span>
                      </div>
                    </td>
                    <td class="cell zero-cell"></td>
                  </tr>
                </tbody>
              </table>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <input type="button" value="Enviar" class="submit-btn btn btn-primary form-action-container-left">
    </div>
  </div>
</div>
