*:not(
    [data-gjs-type="Header"],
    [data-gjs-type="EntityForm"],
    [data-gjs-type="ENTITY_FORM_FIELD"],
    [data-gjs-type="Footer"]
    ) {
    >div#viewRoot { display: none !important; }
}
*[data-gjs-type="EntityForm"]>div#viewRoot>*:last-child {
    display: none !important;
}

[data-gjs-type="Section"] { display: none !important; }

#gjs-tools .gjs-resizer { display: none !important; }

.c-image
{
    #viewBot { display: none !important; }
    >[data-gjs-type="image"]
    {
        width: 100% !important;
        height: 100% !important;
        display: block !important;
    }
}
