*:not([data-gjs-type="Header"], [data-gjs-type="Footer"]) {
    >div#viewRoot { display: none !important; }
}

[data-gjs-type="Section"] { display: none !important; }

#gjs-tools .gjs-resizer { display: none !important; }

.c-image>[data-gjs-type="image"]
{
    width: 100% !important;
    height: 100% !important;
    display: block !important;
}
