:root
{
    font-smooth: always;
    font-synthesis: none;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

main.main-content
{
    ul, ol
    {
        padding-left: 2.4rem;
        li+li { margin-top: 0.8rem; }
    }
    ol { list-style-type: auto; }
    ul li
    {
        position: relative;
        &::before
        {
            content: '';
            height: 2px;
            width: 1.2rem;
            background-color: #C8102E;
            position: absolute;
            top: 1.5rem;
            left: -2.4rem;
        }
    }
    a
    {
        color: #C8102E;
        font-weight: 400;
        text-decoration: underline;
    }
    b, strong { font-weight: 600; }
    i, em { font-style: italic; }
    u { display: inline; }
    
    h1, h2, h3, h4 { font-weight: 400; }
    .rich-text
    {
        p, ul, ol
        {
            &+ { p, ul, ol { margin-top: 1.5em; } }
            &+h3 { margin-top: 6.4rem; }
        }
        h3
        {
            &+ { p, ul, ol { margin-top: 2.4rem; } }
            &+h3 { margin-top: 0; }
        }
        @media (max-width: 1024px)
        {
            p+p { margin-top: 1.6rem; }
            p, ul, ol { &+h3 { margin-top: 3.2rem; } }
            h3+ { p, ul, ol { margin-top: 1.8rem; } }
        }
    }
    .rich-text-simple
    {
        p, ul, ol {
            &+ { p, ul, ol { margin-top: 1em; } }
        }
    }

    .t-title
    {
        font-size: 4.2rem;
        line-height: 1.14;
    }
    .t-subtitle, .rich-text h3
    {
        font-size: 3.4rem;
        line-height: 1.14;
    }
    &, .t-body
    {
        font-size: 2.2rem;
        line-height: 1.5;
    }
    .t-md
    {
        font-size: 2rem;
        line-height: 1.4;
    }
    .t-sm
    {
        font-size: 1.8rem;
        line-height: 1.3;
    }
    .t-xs
    {
        font-size: 1.6rem;
        line-height: 1.5;
    }
    .t-xxs
    {
        font-size: 1.4rem;
        line-height: 1.71;
    }
    @media (max-width: 1024px)
    {
        .t-title
        {
            font-size: 2.8rem;
            line-height: 1.13;
        }
        .t-subtitle, .rich-text h3
        {
            font-size: 2.2rem;
            line-height: 1.13;
        }
        &, .t-body
        {
            font-size: 1.8rem;
            line-height: 1.5;
        }
        .t-md
        {
            font-size: 1.8rem;
            line-height: 1.2;
        }
        .t-xs
        {
            font-size: 1.4rem;
            line-height: 1.4;
        }
    }
}
